<div>
    <div class="bg-white">
        <div class=" mx-auto max-w-2xl py-8 px-4 sm:py-8 lg:py-8 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
                <a *ngFor="let product of products; let index = index" class="group">
                    <div (mouseenter)="mouseEnter(product.productID)" (mouseleave)="mouseLeave(product.productID)"
                        class="pimg aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
                        <img [style.background]="'black'" [style.visibility]="'hidden'"
                            class=" delete{{product.productID}} deletebtn w-8 py-1 px-1"
                            src="../../assets/images/delete-white.svg" (click)="deleteImage(product)" />
                        <img [style.background]="'black'" [style.visibility]="'hidden'"
                            class=" edit{{product.productID}} editbtn w-8 py-1 px-1" src="../../assets/images/edit.svg"
                            (click)="editImage(product)" />
                        <img src={{product.productImage}} alt="Delete product {{product.productName}}"
                            class="aspect-w-1 aspect-h-1 object-cover object-center group-hover:opacity-75">
                    </div>
                    <div>
                        <div [ngStyle]="{'flex-direction':'row'}" class="flex h-fit items-center">
                            <div class="w-4/5">
                                <h3 class="mt-4 text-sm text-gray-700">{{product.productName}}</h3>
                                <div class="mt-1 w-auto text-lg font-medium text-gray-900">₹{{product.price}}</div>
                            </div>
                            <img *ngIf="productInCart(product); else cartOut" (click)="removeFromCart(product)"
                                src="../../../assets/images/remove-from-cart.svg" class="ml-auto w-8 h-8 mr-2" />
                            <ng-template #cartOut><img (click)="addToCart(product)"
                                    src="../../../assets/images/add-to-cart.svg"
                                    class="ml-auto w-8 h-8 mr-2" /></ng-template>

                        </div>
                    </div>
                </a>
                <div class="group">
                    <div type="button" (click)="resetForm()"
                        class="modal-opener aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
                        <img src="../../assets/images/plus.png" class="py-32 px-32">
                    </div>
                    <h3 class="mt-4 text-sm text-gray-700">Add New Product</h3>
                </div>
            </div>
        </div>

        <!-- Main modal -->
        <div id="product-modal" #productmodal data-modal-backdrop="static" aria-hidden="true" class="w-full"
            [style.display]="'none'"
            class="fixed top-0 left-0 right-0 z-50 hidden w-full justify-center items-center overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
            <div class="relative w-full h-full max-w-md md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" id="closeproductmodal" (click)="closemodal()"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                        data-modal-toggle="product-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8">
                        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Product Details
                        </h3>
                        <form #productform class="space-y-6" id="productform">
                            <div>
                                <label for="name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product
                                    name</label>
                                <input type="text" name="name" id="name" [(ngModel)]="tempProduct!.productName"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    placeholder="••••••" required>
                            </div>
                            <div>
                                <label for="price"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                                <input type="number" name="price" id="price" placeholder="₹••••"
                                    [(ngModel)]="tempProduct!.price"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    required>
                            </div>
                            <div>
                                <label for="unit"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Units</label>
                                <input type="number" name="unit" id="unit" placeholder="••••"
                                    [(ngModel)]="tempProduct!.unit"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    required>
                            </div>
                            <div>
                                <label for="supplier"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supplier
                                    ID</label>
                                <input type="number" name="supplier" id="supplier" placeholder="••••"
                                    [(ngModel)]="tempProduct!.supplier.supplierID"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    required>
                            </div>
                            <div>
                                <label for="primage"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product image
                                    link</label>
                                <input type="text" name="primage" id="primage" placeholder="https://••••"
                                    [(ngModel)]="tempProduct!.productImage"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    required>
                            </div>
                            <button type="submit" #submitbtnmodal
                                class="submitbtn-modal w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Add New Product
                            </button>


                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>