<div class="h-full">
    <!-- <div class=" mx-auto max-w-2xl py-8 px-4 sm:py-8 lg:py-8 sm:px-6 lg:max-w-7xl lg:px-8"> -->
    <div *ngIf="cartProductList.length==0; else realCart" class="text-center justify-center items-center">
        <img src=" ../../../assets/images/empty_cart.svg" class="max-h-72 mt-20 mb-16 ml-auto mr-auto" />
        <span class="text-gray-700 text-2xl font-semibold mb-2">Your cart is empty</span>
        <br />
        <span class="text-gray-500 text-sm font-normal">Looks like you haven't added anything to your cart
            yet</span>
        <br />
        <button routerLink="/products"
            class="w-64 mt-8 p-2 text-thin font-normal text-white rounded-md text-center bg-blue-600 hover:bg-blue-700">Continue
            shopping</button>
    </div>
    <ng-template #realCart class="bg-white">
        <div class="bg-white">
            <div class=" grid grid-cols-5">
                <div class="item1 pt-8 pl-8 pr-8 col-span-5 sm:col-span-5 md:col-span-3 lg:col-span-3">
                    <hr />
                    <div *ngFor="let product of cartProductList"
                        class="gap-x-8 md:gap-x-16 lg:gap-x-16 flex flex-row m-8 h-30">
                        <img class="w-20 h-20 rounded-lg" src={{product.productImage}} />
                        <div>
                            <div class="text-gray-800">{{product.productName}}</div>
                            <div class="mt-1 flex flex-row align-middle text-gray-800">
                                <div class="rounded-full bg-gray-50" (click)="decreaseCount(product.productID)">
                                    <svg class="h-6 w-6 fill-gray-500 p-1" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 50 50">
                                        <path d="M10 25.5v-3h28v3Z" />
                                    </svg>
                                </div>
                                <div class="ml-2 mr-2">{{getQuantity(product.productID)}}</div>
                                <div class="rounded-full bg-gray-50" (click)="increaseCount(product.productID)">
                                    <svg class="h-6 w-6 p-1 fill-gray-500" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 50 50">
                                        <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z" />
                                    </svg>
                                </div>
                            </div>
                            <!-- <div>{{getQuantity(product.productID)}}</div> -->
                            <div class="mt-1 text-gray-800">₹{{getPrice(product.productID)}}</div>
                        </div>
                        <img class="ml-auto fill-gray-100 h-4 w-4 cursor-pointer" (click)="removeFromCart(product)"
                            src="../../../assets/images/remove.svg" />
                    </div>
                    <hr />
                </div>
                <div
                    class="h-min item2 pl-8 pr-8 bg-gray-50 rounded-lg col-span-5 m-8 sm:col-span-5 md:col-span-2 lg:col-span-2">
                    <div class=" pt-8 pb-8 ">
                        <div class="text-2xl text-gray-800 font-semibold">
                            Order Summary
                        </div>
                        <div class="items-count mt-8 flex flex-row">
                            <div class="text-gray-600 text-thin font-normal">No. of items</div>
                            <div class="text-gray-800 text-thin font-normal ml-auto">{{cartProductList.length}}</div>
                        </div>
                        <hr class="mt-3" />
                        <div class="subtotal mt-3 flex flex-row">
                            <div class="text-gray-600 text-thin font-normal">Subtotal </div>
                            <div class="text-gray-800 text-thin font-normal ml-auto">₹{{cartTotal}}</div>
                        </div>
                        <hr class="mt-3" />
                        <div class="items-count mt-3 flex flex-row">
                            <div class="text-gray-600 text-thin font-normal">Delivery Charges</div>
                            <div class="text-gray-800 text-thin font-normal ml-auto">₹0</div>
                        </div>
                        <hr class="mt-3" />
                        <div class="order-total mt-3 flex flex-row">
                            <div class="text-gray-800 text-lg font-semibold">Order total</div>
                            <div class="text-gray-800 text-lg font-normal ml-auto">₹{{cartTotal}}</div>
                        </div>
                        <button (click)="checkout()"
                            class="w-full mt-8 p-2 font-semibold text-white rounded-md text-center bg-blue-600 hover:bg-blue-700">
                            Checkout
                        </button>
                    </div>


                </div>
            </div>

        </div>

        <div #cartModal data-modal-backdrop="static" aria-hidden="true" class="w-full" [style.display]="'gone'"
            class="fixed top-0 left-0 right-0 z-50 hidden w-full justify-center items-center overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
            <div class="relative w-full h-full max-w-md md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" id="closecartmodal" (click)="closemodal()"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                        data-modal-toggle="product-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8">
                        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Order Details
                        </h3>
                        <div class="block mb-2 text-medium font-thin text-gray-500 dark:text-white">
                            {{date}}
                        </div>
                        <form #cartForm class="space-y-6" id="cartform">
                            <div class="mt-4 ">
                                <label for="cid"
                                    class="block mb-2 text-medium font-thin text-gray-500 dark:text-white">Grand
                                    Total</label>
                                <h4>
                                    ₹{{cartTotal}}
                                </h4>
                            </div>
                            <button type="submit" #submitbtnmodal
                                class="submitbtn-modal w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Order now
                            </button>


                        </form>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>



    <!-- lg:grid-colos-2 md:grid-cols-2 sm:grid-cols-1 -->