.cart-class {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.cart-class:hover>.cart-counter {
    margin-top: -0.5rem;
}

.cart-counter {
    background-color: brown;
    position: absolute;
    border-radius: 50%;
    z-index: 3;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transform: translateY(-4px); */
}

.count {
    z-index: 4;
    color: aliceblue;
}