/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.cart-class {
    position: relative;
}

.cart-counter {
    background-color: brown;
    position: absolute;
    border-radius: 50%;
    right: 0;
    z-index: 3;
    /* transform: translateY(-4px); */
}